<div class="container">
  <ul>
    <li
      [@moveInLeft]
      *ngFor="let expenseType of expenseTypes"
      (click)="edit(expenseType); submitted = false"
    >
      <span>{{ expenseType.id }}</span
      >{{ expenseType.name }}
      <i (click)="deleteItem(expenseType)" class="material-icons">delete</i>
    </li>
  </ul>
</div>

<div class="container" [hidden]="submitted">
  <h1>Expense Type</h1>

  <form
    #expenseTypeForm="ngForm"
    (ngSubmit)="onSubmit(); expenseTypeForm.resetForm()"
  >
    <div class="form-group">
      <label for="name">Name</label>
      <input
        type="text"
        class="form-control"
        id="name"
        [(ngModel)]="expenseTypeModel.name"
        name="name"
        required
        #name="ngModel"
      />
      <div [hidden]="name.valid || name.pristine" class="alert alert-danger">
        Name is required
      </div>
    </div>
    <div class="form-group">
      <label for="description">Description</label>
      <input
        type="text"
        class="form-control"
        id="description"
        [(ngModel)]="expenseTypeModel.description"
        name="description"
      />
    </div>

    <button
      type="submit"
      class="btn btn-success"
      [disabled]="expenseTypeForm.form.invalid"
    >
      Submit
    </button>
  </form>
</div>
